@media (prefers-color-scheme:dark) {
    //SASS variables
    $default-input-bg-color: #3b3b3b;
    $default-reset-bg-color: #6b6b6b;

    //CSS Variables
    :root {
        color-scheme: dark;

        --default-input-bg-color: #{$default-input-bg-color};
        --default-reset-bg-color: #{$default-reset-bg-color};
    }
}