@use "../utils/" as *;

.DataTable {

    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    width: 100%;

    &__caption {}

    &__entries-query-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    //For all the <tr>
    &__row {
        @include mobile-only {
            @include center-flex-column(5px);
            text-align: center;
        }


        //For all the <td>
        &__cell {}


        //For the <thead>
        &__head {

            //For all the <tr> nested inside the <thead>
            &-row {}
        }

        //For all the <td> nested inside the <thead>
        &-cell {}

        &-button {
            &--active {}
        }
    }


    //For the <tfoot>
    &__foot {

        //For all the <> nested inside the <>
        &-row {}

        //For all the <> nested inside the <>
        &-cell {
            &-entries {
                &--active {}
            }

            &-pagination {
                &--active {}
            }
        }
    }

    //For the <tbody>
    &__body {

        //For all the <> nested inside the <
        &-row {}

        //For all the <> nested inside the <>

        &-cell {}
    }




}