@use "../utils/" as *;

.DataTable {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    width: 100%;

    &--scroll {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    &__caption {}

    &__buttons-container {
        @include center-flex-column(5px);
    }

    &__entries-query-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    //For all the <tr>
    &__row {
        @include mobile-only {
            @include center-flex-column(5px);
            text-align: center;
        }

        border: 1px solid grey;

    }

    //For all the <td>
    &__cell {}


    //For the <thead>
    &__head {

        &--scroll {
            display: table;
            table-layout: fixed;
            flex: 0 0 auto;
            width: 100%;
        }

        //For all the <th> nested inside the <thead>
        &-row {}

        &-button {
            &--active {
                color: red;
            }
        }

        //For all the <td> nested inside the <thead>
        &-cell {}
    }



    //For the <tfoot>
    &__foot {
        height: 50px;

        @include mobile-only {
            height: 150px;
        }

        position: relative;

        &--scroll {
            display: table;
            table-layout: fixed;
            order: 1;
        }

        //For all the <tr> nested inside the <tfoot>
        &-row {
            height: inherit;
            position: absolute;
            display: flex;
            width: 100%;

            &--scroll {
                position: initial;
            }
        }

        //For all the <td> nested inside the <tfoot>
        &-cell {
            flex: 1;
            display: flex;

            &-entries {
                justify-content: flex-start;

                &--active {}
            }

            &-pagination {
                justify-content: flex-end;

                &--active {}
            }
        }

        &-components-container {}
    }

    //For the <tbody>
    &__body {
        &--scroll {
            display: block;
            flex: 1 1 auto;
            overflow-y: auto;
            overflow-x: hidden;
        }

        //For all the <tr> nested inside the <tbody>
        &-row {

            &--scroll {

                @include desktop-only {
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                }

                @include desktop-small-only {
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                }

                @include laptop-only {
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                }

                @include tablet-only {
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                }
            }
        }

        //For all the <td> nested inside the <tbody>

        &-cell {}
    }




}